body {
    background-color:  #b3c46a;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: justify;  
}
button.primary {
    background-color:  #2069c9;
    color: #f8f3f3;;
    border-radius: 20px
}
button {
    height: 50px;
    width: 175px;
}
#imagem {
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
}
#email {
    height: 40px;
    width: 40px;
}