body {
    background-color: #f0f0e2;
    color: #080808;
}
html {
    --font: "Poppins", sans-serif;
    --font-size: 20px;
    --font-color: #f8f3f3;
    --primary: #2069c9;
    --secondary: #e9db14;
    --radius: 10px;
    --margin: 15px;
    --padding: 40px;
}
body, button {
    font-size: var(--font-size);
    font-family: var(--font);
}

button.primary {
    background-color: var(--primary);
    color: var(--font-color);
    border: 2;
}
button {
    height: 50px;
    width: 175px;
    cursor: cell;
}
* {
    box-sizing: border-box;
}
button.secondary {
    background-color: var(--secondary);
    border: 2px solid var(--secondary);
    color: #333333;
}
button {
    height: 50px;
    width: 175px;
    border-radius: var(--radius);
    cursor: pointer;
}
body, button {
    font-size: var(--font-size);
    font-family: var(--font);
}
#imagem {
    display: flex;
    justify-content: center;
}